.selector-1 {
    color: blue;
}

.selector-2 {
    background: red;
}

.selector-3, .select-4{
    outline: none;
}

.long [selector=true] {
    border: 1px solid red;
}

.multiple {
    color: blue;
    border-color: red;
}