$var: #000;
.select {
    color: #eee;
    background-color: lighten($var, 50%);
    box-sizing: border-box;
    display: flex;
    border: {
        style: solid;
        width: 10px;
        color: indianred;
    }
}



button {
    border: 1px solid #ccc;
    background-color: lightblue;
    border-radius: 4px;
    padding: 4px 8px;
}